*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Bebas Neue', sans-serif;
    font-size: x-large;
}


.navbar{
    display:flex;
    align-items: center;
    padding: 20px;
    background-color: #dbff47;
   
}
nav{
    flex: 1;
    text-align: center;
    word-spacing: 30px;
    
    
}


nav ul{
    display: inline-block;
    list-style-type: none;
    
}
nav ul li{
    display: inline-block;
    
    margin-right: 20px;
    
}
a{
    text-decoration: none;
    font-weight: bold;
    transition: font-size 0.5s;
    color: #000002;
}
a:hover{
    font-size: xx-large;
}

a img{
    transition: width 0.5s;
}

a img:hover{
    width: 150px;
}
#tituloTexto{
  
    text-decoration: none;
    font-weight: left;
    color: #000002;
    text-align: justify;
}
.container{
    max-width: 1500px;
    margin: auto;
    padding-left: 30px;
    padding-right: 30px;
}
#titulo{

    text-align: left;
     color: #000002;
     text-decoration: none;
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.col-2{
    padding-left: 50px;
    padding-right: 50px;
    flex-basis: 50%;
    min-width: 300px;
}
.col-2 img{
    max-width: 150%;
    padding: 50px 0;
    padding-right: 100px;
    padding-left: 100px;
}
.col-2 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}
#botonTitulo{
    display: inline-block;
    align-items: center;
    flex-wrap: wrap;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    justify-content: space-around;
    transition: background 0.5s;
    background: #dbff47;
    
}
#botonTitulo:hover{
    background: greenyellow;
}
.header{
    background: radial-gradient(#dbff40, #dbff46, #dbff47 );
}
.contador{
    position: flex;
    font-size: 12px;
    border-radius: 50px;
    background: white;
    padding: 2px 4px;
    
    
}
#carrito{
    
    transition: font-size 0.5s ;
}
#carrito:hover{
    font-size: 50px;
}

.categorias{
    margin: 70px 0;
}

.col-3{
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
}

.col-3 img{
    width: 100%;
}
.small-container{
    max-width: 1500px;
    margin: auto;
    padding-left: 30px;
    padding-right: 30px;
   
}

.col-4{
    flex-basis: 25%;
    padding: 20px;
    min-width: 200px;
    margin-bottom: 50px;
}
.col-4 img{
    width: 100%;
}
.title{
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
}
.title::after{
    content: '';
    background: black;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
}
#productosDestacados .small-container{
    background-color: #dbff47;
}

#categoriasDestacadas .small-container{
   
    background: linear-gradient(to right, #ffffff, #f0f0f0, #ffffff);
}

#categoriasDestacadas .title::after{
    background: #dbff47;
}
#navBarContainer .row{
    max-width: 1200px;
    padding-right: 25px;
    padding-left: 25px;
    padding: 1rem 2rem;
    background: linear-gradient(to right, #ffffff, #f0f0f0, #ffffff);
    
}
#navBarContainer .col-2{
    padding-left: 50px;
    padding-right: 20px;
    text-align: justify;
   
}
#navBarContainer .col-2 img{
    padding-left: 100px;
    
    width: auto;
}







